.card.ab{
    width:70%;
    margin: auto;
    box-shadow: 5px 5px 5px;
}
.ab1{
     display: 'block',;
        width: 60%;
        padding: 50 px;
}



@media(min-width:0px) and (max-width:480px){
    .a100{
        margin-bottom: 55%;
    }
  }
  
  @media(min-width:481px) and (max-width:768px){
    .a100{
        margin-bottom: 31%;
    }
  }
  @media(min-width:769px) and (max-width:2000px){
    .a100{
        margin-bottom: 7.5%;
    }
  }