.foot {
    padding-bottom: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
     width: 100%;
    background-color: rgb(75, 75, 75);
  }
  .adc{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .icon{
    padding-left: 10px;
    padding-right:10px;
}


@media(min-width:0px) and (max-width:480px){
  .zx{
      margin-bottom: 93%;
  }
}

@media(min-width:481px) and (max-width:768px){
  .zx{
      margin-bottom: 58%;
  }
}
@media(min-width:769px) and (max-width:2000px){
  .zx{
    margin-bottom: 18.25%;
  }
}