body{
  background-image: url("https://thumbs.dreamstime.com/b/food-donations-people-donation-blue-background-top-view-flat-lay-coronavirus-182638536.jpg");
  background-repeat : no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}